page-administration {
    .admin-content {
        .search-bar {
            background: red;
            margin-top:10px;
        }
        .list-box {
            
            margin-top: 5px;
            padding: 0,0,0,0 !important;
        }
    }
    
}

