page-dashboard {

    .ticket-titulo {
        font-size: 13px;
        font-weight: bold;
        padding: 5px !important;
        color:black;
    }
    .ticket-date {
        font-size: 12px;
        color:gray;
    }

    ion-list {
        button {
            margin-bottom: -20px !important;
        }
    }
}
