page-login-popover {
    .header {
        background: orange;
        color: white;
        font-size: 15px;
    }

    .option-item {
        font-size: 14px;
        height: 30px;
        font-weight: normal !important;
    }
}
