<ion-header>
  <ion-navbar color="orange">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="reset-content" padding>
  <p *ngIf="submitAttempt" style="color: red;">Favor de corregir los errores en la forma.</p>
  <div class="reset-box">
    <ion-row>
      <ion-col>
        <ion-list no-lines>
          <form [formGroup] = "resetForm">
            <ion-item>
              <ion-label color="secundary" floating>Email</ion-label>
                <ion-input type="text" formControlName="email" readonly="true"></ion-input>
            </ion-item>
            <ion-item class="note">
              <ion-note item-start>
                  Password: mínimo 8 caractéres, almenos una mayúscula, por lo menos un número y un caractér especial
              </ion-note>
            </ion-item>
            <ion-item>
                <ion-label color="secundary" floating>Password</ion-label>
                <ion-input type="password" formControlName="password"
                [class.invalid]="!resetForm.controls.password.valid && (resetForm.controls.password.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item class="note" *ngIf="!resetForm.controls.password.valid  && (resetForm.controls.password.dirty || submitAttempt)">
              <ion-note item-start>* El password no cumple las reglas de seguridad.</ion-note>
            </ion-item>
            <ion-item>
                <ion-label color="secundary" floating>Repita el password</ion-label>
                <ion-input type="password" formControlName="repassword"
                [class.invalid]="!resetForm.controls.repassword.valid && (resetForm.controls.repassword.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item class="note" *ngIf="!resetForm.controls.repassword.valid">
              <ion-note item-start>* Los dos passwords deben ser iguales.</ion-note>
            </ion-item>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="cancel-btn" (click)="cancelReset()">Cancelar</button>
      </ion-col>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" color="primary" (click)="saveReset()">Actualizar</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
